html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 85%;
    margin: 0 auto;
    position: relative;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    display: flex;
    background: #E42E2E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.40);
    justify-content: space-evenly;
}

nav .images {
    display: flex;
}

nav .images .logo {
    height: 80px;
}

nav .images .logo-name {
    list-style: none;
    /* background-color: aqua; */
    margin: auto;
}

.images .logo-name li:nth-child(1) {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3.5px;
}

.images .logo-name li:nth-child(2) {
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

nav .nav-menu {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
}

nav .nav-menu .nav-item {
    list-style: none;
    position: relative;
}

.nav-menu .nav-item .nav-link {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.5px;
}

.main {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    background: #FFF;
}


/* Banner Mixue  */
.banner {
    width: 100%;
    height: auto;
    margin: 40px 0;
}

.banner .container {
    display: flex;
}

.banner .text-banner {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-banner h1 {
    color: #E42E2E;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 6.4px;
}

.text-banner p {
    color: #E42E2E;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    animation: typing 8s linear infinite;
    overflow: hidden;
    white-space: nowrap;
    max-width: max-content;
    /* background-color: salmon; */
}

@keyframes typing {

    0%,
    100% {
        width: 0;
    }

    50% {
        width: 100%;
    }
}


.banner .img-banner {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-banner img {
    width: 396.813px;
    height: 378.87px;
    flex-shrink: 0;
}

/* About Mixue */
.about {
    background-color: #E42E2E;
    width: 100%;
    height: auto;
}

.about .title {
    padding: 34px 0 29px 0;
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
}

.about p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.25px;
}

.about .icon-about {
    display: flex;
    justify-content: space-between;
}

.about .icon-about img {
    margin-top: -20px;
    height: 100px;
    opacity: 0.53;
}

/* Manu Mixue */
.menu {
    width: 100%;
    height: auto;
}

.menu .title-menu {
    margin: 78px 0 30px 0;
    color: #E42E2E;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 2px;
}

.menu .btn-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.menu .btn-filter .filter-button {
    border-radius: 40px;
    background-color: #E42E2E;
    padding: 15px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.1px;
    border: none;
    cursor: pointer;
}

.menu .btn-filter .filter-button:hover {
    box-shadow: 0px 0px 25px 0px #E42E2E;
}

.btn-filter .filter-button.active {
    box-shadow: 0px 0px 25px 0px #E42E2E;
}

.menu .card-product {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card-product .card {
    width: 30%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 26px;
    overflow: hidden;
    background: #EFEFEF;
}

.card .card-header {
    height: 60%;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

.card .card-header img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}


.card .card-header img:hover {
    transform: scale(1.05);
}

.card .card-body {
    height: 30%;
    width: 80%;
    height: 0 auto;
    padding-bottom: 20px;
}

.card .card-body a {
    color: #C81515;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.25px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}

.card .card-body p {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
}

footer {
    background-color: #E42E2E;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    padding: 40px 0 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .footer-logo {
    height: 200px;
    flex-shrink: 0;
}

.footer .telp {
    margin: 30px 0 20px 0;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.05px;
}

.footer .medsos {
    width: 75%;
    height: auto;
    margin: 0 auto;
    /* Tengahkan elemen medsos */
}

.footer .medsos ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.footer .medsos ul li {
    margin: 20px auto;
}

.footer .medsos ul li a {
    color: #FFF;
    border: 2px solid #fff;
    font-size: 25px;
    padding: 8px 15px;
    border-radius: 50%;
    text-decoration: none;
}

.footer .medsos ul li a:hover {
    color: #000;
    border: 2px solid #fff;
    background-color: #FFF;
}


footer .copyrigth {
    padding: 20px 0;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.75px;
}



/* Hambuger Menu*/
.menu-toggle {
    top: 25px;
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #FFF;
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: #FFF;
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
    background-color: #FFF;
}



@media screen and (max-width: 768px) {
    nav .nav-menu {
        position: absolute;
        right: 0;
        flex-direction: column;
        background-color: #E42E2E;
        top: 0;
        height: auto;
        margin: 20px 0;
        align-items: center;
        justify-content: space-evenly;
        z-index: 2;
        transform: translateY(-50%);
        transition: all 1s;
        opacity: 0;
        width: 100%;
    }

    nav .nav-menu .nav-item {
        padding: 18px 0;
    }

    nav .nav-menu .nav-item .nav-link {
        color: #FFF;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateY(-10%);
    }

    .menu-toggle {
        display: flex;
    }

    .text-banner h1 {
        font-size: 60px;
    }

    .text-banner p {
        font-size: 15px;
    }

    /* Menu Mixue */
    .menu .btn-filter {
        flex-wrap: wrap;
    }

    .menu .btn-filter .filter-button {
        width: 40%;
    }

    .card-product .card {
        width: 45%;
    }

}


/* Mobile Responsvie */
@media screen and (max-width:480px) {
    nav .nav-menu {
        position: absolute;
        right: 0;
        flex-direction: column;
        background-color: #E42E2E;
        top: 0;
        height: auto;
        margin: 20px 0;
        align-items: center;
        justify-content: space-evenly;
        z-index: 2;
        transform: translateY(-50%);
        transition: all 1s;
        opacity: 0;
        width: 100%;
    }

    nav .nav-menu .nav-item {
        padding: 18px 0;
    }

    nav .nav-menu .nav-item .nav-link {
        color: #FFF;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateY(-10%);
    }

    .menu-toggle {
        display: flex;
    }

    /* Banner Mixue */
    .banner .container {
        display: flex;
        flex-direction: column;
    }

    .banner .text-banner {
        width: 100%;
    }

    .banner .img-banner {
        width: 100%;
    }

    /* Manu Mixue */
    .menu .btn-filter {
        flex-wrap: wrap;
    }

    .menu .btn-filter .filter-button {
        width: 80%;
    }

    .card-product .card {
        width: 90%;
    }
}